<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.maridew.finance"
          android:versionCode="1"
          android:versionName="1.0.4">

  <uses-sdk android:minSdkVersion="24" />

  <!-- INTERNET is required for the cloud-sync worker (maridew-sync.maridew.workers.dev). -->
  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:supportsRtl="true"
      android:theme="@style/MaridewTheme">
  </application>

</manifest>
